In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [5]:
df = pd.read_csv("adult.data.csv")

In [15]:
df.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

In [14]:
df["race"].nunique()

5

In [22]:
df[df["sex"] == "Male"]["age"].mean()

39.43354749885268

In [25]:
df[df["education"] in ["Bachelors","Masters","Doctorate"]]["age"].mean()

ValueError: ignored